@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 231, 235);
  font-family: "Segoe UI", Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Dancing Script";
  src: url("../public/DancingScript-VariableFont_wght (1).ttf");
}
